# Merging Data
Merges three year's worth of data to analyze
* 2011: [cxp6-pzzb](https://data.cdp.net/resource/cxp6-pzzb.csv)
* 2012: [4hek-p74b](https://data.cdp.net/resource/4hek-p74b.csv)
* 2013: [marp-zazk](https://data.cdp.net/resource/marp-zazk.csv)

In [ ]:
import pandas as pd
%matplotlib inline

In [ ]:
#Fetch the data
df2011 = pd.read_csv('https://data.cdp.net/resource/cxp6-pzzb.csv')
df2012 = pd.read_csv('https://data.cdp.net/resource/4hek-p74b.csv')
df2013 = pd.read_csv('https://data.cdp.net/resource/marp-zazk.csv')

In [ ]:
#Merge all frames into onw
dfAll = pd.concat([df2011,df2012,df2013],
                  axis='rows',
                  keys=['2011','2012','2013'],
                  names=['year','id'])
#Fix spaces in column names
dfAll.columns = dfAll.columns.str.strip()
dfAll.columns = dfAll.columns.str.replace(" ","_")
#Convert year index to a column
dfAll.reset_index(level=0,inplace=True)
#Show the data
dfAll.head()

In [ ]:
dfUSA = dfAll.query('Country == "USA"')

In [ ]:
dfUSA[['year','Scope_2_(metric_tonnes_CO2e)']].boxplot(by='year');

In [ ]:
#Compute country averages by year
dfYearly = dfAll.groupby(['year','Country']).mean()
dfYearly.head()

In [ ]:
df2 = pd.pivot_table(data = dfAll,
                     values='Disclosure_Score',
                     index='Country',
                     columns='year',
                     aggfunc='mean',
                     dropna=True
                    )

In [ ]:
df2.iloc[-5:].T.plot(by='Country',legend=True,figsize=(30,10),fontsize=20)